<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel='stylesheet' href='./assets/styles.css' />
  <title>Vue</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id='app'>
    <div class='container list-form-container'>
      <div class='row'>
        <div class='col-sm-12 col-md-6 offset-md-3'>
          <h1 class='list-header'>{{ listName }}</h1>
          <!-- event listener shorthand with the preventDefault() modifier -->
          <form @submit.prevent='onSubmit' class='input-form'>
            <label for='itemInput' class='form-label'>Add an item</label>
            <!-- v-model is two-way data binding -->
            <input v-model='newItem' type='text' class='list-input form-control' placeholder='Add an item' id='itemInput' />
            <div class='form-check form-switch list-input'>
              <label class='form-check-label' for='itemTypeSwitch'>
                <!-- v-if -->
                <span v-if='isActive'>Toiletries</span>
                <span v-else>Clothes</span>
                <input class='form-check-input' type='checkbox' id='itemTypeSwitch' v-model='checkedValue'>
              </label>
            </div>
            <!-- v-bind shorthand - uses class binding to bind the disabled attribute with the disabled button class in Bootstrap -->
            <button class='button' :disabled='!newItem' type='submit'>Submit</button>
          </form>
        </div>
        </div>
        <div class='row'>
          <div class='col-sm-12 col-md-4 col-lg-3 offset-md-2'>
            <h3>{{ columnOne }}</h3>
            <ul class='list-items list-group'>
              <!-- v-for directive -->
              <li v-for='(item, index) in clothesList' :key='index'>{{ item }}</li>
            </ul>
          </div>
          <div class='col-sm-12 col-md-4 col-lg-3 offset-md-2'>
            <h3>{{ columnTwo }}</h3>
            <ul class='list-items list-group'>
              <!-- v-for directive -->
              <li v-for='(item, index) in toiletriesList' :key='index'>{{ item }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Import App -->
  <script src='./main.js'></script>
  <!-- Mount App -->
  <script>
    const mountedApp = app.mount('#app')
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>